In [5]:
import requests
import pandas as pd

In [6]:
url = "https://unofficial-cricbuzz.p.rapidapi.com/players/search"

querystring = {"plrN":"*"}

headers = {
	"X-RapidAPI-Key": "7342f3af94msh458c6999db3a295p1672a0jsn1d4f7254e3ca",
	"X-RapidAPI-Host": "unofficial-cricbuzz.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [7]:
json = response.json()
df = pd.DataFrame(json)
all_players_details = pd.concat([df.drop(["player"], axis=1), pd.json_normalize(df["player"])], axis=1)

In [8]:
all_players_details = all_players_details.drop(['category'], axis=1)
all_players_details

          id                 name   teamName faceImageId
0         25     Sachin Tendulkar      India      171004
1         26      Virender Sehwag      India      171002
2         27         Rahul Dravid      India      156286
3         28           VVS Laxman      India      156770
4         29       Sourav Ganguly      India      171006
...      ...                  ...        ...         ...
18554  46639        Ribeiro Bento     Brazil      182026
18555  46643  Carolina Nascimento     Brazil      182026
18556  46650           Ana Sabino     Brazil      182026
18557  46657        Martina Quinn  Argentina      182026
18558  46664      Francesca Galan  Argentina      182026

[18559 rows x 4 columns]

In [ ]:
file_name ='all_players.xlsx'
all_players_details.to_excel(file_name, index=False)