In [13]:
import requests

In [18]:
url = "https://unofficial-cricbuzz.p.rapidapi.com/players/search"

querystring = {"plrN":"India"}

headers = {
	"X-RapidAPI-Key": "7342f3af94msh458c6999db3a295p1672a0jsn1d4f7254e3ca",
	"X-RapidAPI-Host": "unofficial-cricbuzz.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [19]:
json = response.json()  
json

{'category': 'India'}

In [5]:
import pandas as pd
df = pd.DataFrame(json)

In [12]:
# df["player"] = df["player"].apply(eval)  # Convert string to dictionary
player_details_primary = pd.concat([df.drop(["player"], axis=1), pd.json_normalize(df["player"])], axis=1)

KeyError: "['player'] not found in axis"

In [11]:
df

      category     id              name teamName faceImageId
0            *     25  Sachin Tendulkar    India      171004
1            *     26   Virender Sehwag    India      171002
2            *     27      Rahul Dravid    India      156286
3            *     28        VVS Laxman    India      156770
4            *     29    Sourav Ganguly    India      171006
...        ...    ...               ...      ...         ...
18544        *  46580  Temitope Onikoyi  Nigeria      182026
18545        *  46587    Sharon Athuola   Uganda      182026
18546        *  46594     Scarlett Hale  England      182026
18547        *  46597       Ian Herbert  England      182026
18548        *  46604    Bertie Foreman  England      182026

[18549 rows x 5 columns]